@import '../../../../stylesheets/design-system';

.post-background {
  display: block;
  width: 100%;
  height: auto;
  max-height: 493px;
  margin-bottom: $system-padding-mid;
  overflow: hidden;
  img {
    max-width: 100%;
  }
}

.container {
  h1 {
    font-weight: 700;
  }
  h3 {
    font-weight: 400;
    color: $grey-scale-2-color;
  }
  .post-author {
    .post-text p {
      line-height: 40px;
    }
  }
}