@import '../../../stylesheets/design-system';

.container {
  padding-top: $system-padding-mid;
  .post-content {
    a {
      color: $black-color;
      text-decoration: none;
      h3 {
        margin: $system-padding-min 0;
      }
    }
    .post-image {
      display: block;
      width: 100%;
      height: auto;
      margin-bottom: $system-padding-mid;
      a {
        img {
          max-width: 100%;
        }
      }
    }
    .post-text {
      p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        margin-bottom: $system-padding-mid;
      }
    }
  }
}