<div class="container">
  <ng-container *ngFor="let post of posts">
    <div class="post-content">
      <a [href]="'post?id=' + post.id">
        <h3>{{ post.title }}</h3>
      </a>
      <div class="post-image">
        <a [href]="'post?id=' + post.id">
          <img [src]="'assets/' + (post.background ? post.background : 'background.jpg')" alt="">
        </a>
      </div>
      <div class="post-text">
        <p>
          {{ removerTags(post.content) }}
        </p>
      </div>
      <hr>
    </div>
  </ng-container>
</div>