
<ng-container *ngIf="comments.length">
  <h2>Comentários</h2>
  <ng-container *ngFor="let comment of tree">
    <div class="comments">
      <div class="comment-header">
        <h4>
          <app-button-dynamic
            [format]="{ name: 'text' }"
            [category]="{ name: 'primary' }"
            [size]="{ name: 'min' }"
            [label]="comment.username"
            [modalContent]="{ name: 'modalAuthor', content: modalAuthor }"
            (buttonFunctionModal)="selectModal($event, comment.author)"
          ></app-button-dynamic> 
          {{ comment.timestamp | dateComments }}
        </h4>
        <app-button-dynamic
          [id]="'list-comments-' + comment.author"
          [format]="{ name: 'text' }"
          [category]="{ name: 'primary' }"
          [size]="{ name: 'min' }"
          [icon]="'question_answer'"
          [modalContent]="{ name: 'modalComments', content: modalComments }"
          (buttonFunctionModal)="selectModal($event, comment.author)"
        ></app-button-dynamic>
        <app-button-dynamic
          [format]="{ name: 'text' }"
          [category]="{ name: 'primary' }"
          [size]="{ name: 'min' }"
          [icon]="'whatsapp'"
          [action]="'whatsapp'"
          (buttonFunction)="actionButtons($event)"
        ></app-button-dynamic>
        <app-button-dynamic
          [format]="{ name: 'text' }"
          [category]="{ name: 'primary' }"
          [size]="{ name: 'min' }"
          [icon]="'share'"
          [action]="'facebook'"
          (buttonFunction)="actionButtons($event)"
        ></app-button-dynamic>
      </div>
      <p>{{ comment.content }}</p>
      <ng-container *ngFor="let comment of comment.children">
        <div class="comments">
          <div class="comment-header">
            <h4> {{ comment.username }} {{ comment.timestamp | dateComments }} </h4>
            <app-button-dynamic
              [id]="'list-comments-' + comment.author"
              [format]="{ name: 'text' }"
              [category]="{ name: 'primary' }"
              [size]="{ name: 'min' }"
              [icon]="'question_answer'"
              [modalContent]="{ name: 'modalComments', content: modalComments }"
              (buttonFunctionModal)="selectModal($event, comment.author)"
            ></app-button-dynamic>
            <app-button-dynamic
              [format]="{ name: 'text' }"
              [category]="{ name: 'primary' }"
              [size]="{ name: 'min' }"
              [icon]="'whatsapp'"
              [action]="'whatsapp'"
              (buttonFunction)="actionButtons($event)"
            ></app-button-dynamic>
            <app-button-dynamic
              [format]="{ name: 'text' }"
              [category]="{ name: 'primary' }"
              [size]="{ name: 'min' }"
              [icon]="'share'"
              [action]="'facebook'"
              (buttonFunction)="actionButtons($event)"
            ></app-button-dynamic>
          </div>
          <p>{{ comment.content }}</p>
          <ng-container *ngFor="let comment of comment.children">
            <div class="comments">
              <div class="comment-header">
                <h4> {{ comment.username }} {{ comment.timestamp | dateComments }} </h4>
                <app-button-dynamic
                  [id]="'list-comments-' + comment.author"
                  [format]="{ name: 'text' }"
                  [category]="{ name: 'primary' }"
                  [size]="{ name: 'min' }"
                  [icon]="'question_answer'"
                  [modalContent]="{ name: 'modalComments', content: modalComments }"
                  (buttonFunctionModal)="selectModal($event, comment.author)"
                ></app-button-dynamic>
                <app-button-dynamic
                  [format]="{ name: 'text' }"
                  [category]="{ name: 'primary' }"
                  [size]="{ name: 'min' }"
                  [icon]="'whatsapp'"
                  [action]="'whatsapp'"
                  (buttonFunction)="actionButtons($event)"
                ></app-button-dynamic>
                <app-button-dynamic
                  [format]="{ name: 'text' }"
                  [category]="{ name: 'primary' }"
                  [size]="{ name: 'min' }"
                  [icon]="'share'"
                  [action]="'facebook'"
                  (buttonFunction)="actionButtons($event)"
                ></app-button-dynamic>
              </div>
              <p>{{ comment.content }}</p>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </ng-container>
</ng-container>

<ng-template #modalComments let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Posts</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <i class="material-icons-outlined">close</i>
    </button>
  </div>
  <div class="modal-body">
    <ng-container *ngFor="let post of postsByAuthor">
      <div class="post-content">
        <a [href]="'post?id=' + post.id">
          <h4>{{ post.title }}</h4>
        </a>
        <div class="post-text">
          <p>
            {{ removerTags(post.content) }}
          </p>
        </div>
        <hr>
      </div>
    </ng-container>
  </div>
</ng-template>

<ng-template #modalAuthor let-modal>
  <div class="modal-body">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <i class="material-icons-outlined">close</i>
    </button>
    <ng-container *ngIf="infoAuthor">
      <div class="author-container">
        <div class="author-avatar">
          <img [src]="'assets/' + infoAuthor.avatar" alt="">
        </div>
        <h4>{{ infoAuthor.username }}</h4>
        <div class="author-content">
          <span>Amigos: {{ infoAuthor.friendIds?.length }}</span>
          <span>Posts: {{ infoAuthor.posts?.length }}</span>
          <span>Membro desde: {{ infoAuthor.memberSince | datePtBr }}</span>
        </div>
      </div>
    </ng-container>
  </div>
</ng-template>