@import './stylesheets/design-system';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Roboto';
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  color: $black-color;
}

h1 {
  font-size: $h1-size;
  margin: $system-padding-max 0;
}
h2 {
  font-size: $h2-size;
  margin: $system-padding-max 0;
}
h3 {
  font-size: $h3-size;
  margin: $system-padding-mid 0;
}
h4 {
  font-size: $h4-size;
  margin: $system-padding-mid 0;
}
h5 {
  font-size: $h5-size;
  margin: $system-padding-min 0;
}
h6 {
  font-size: $h6-size;
  margin: $system-padding-min 0;
}

p {
  line-height: 40px;
  margin-bottom: $system-padding-min;
}

.container {
  width: 850px;
}

.close {
  height: 24px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
